

  <body>
     
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css"
integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg=="
crossorigin="anonymous" /> -->
 
    <div class="main">
		  <!-- Sing in  Form -->
		<section class="sign-in" [hidden]=evt1>
            <div class="container">
                <div class="signin-content" >
     

                    <div class="signin-form" >
                        <h2 class="form-title">Sign In</h2>
                        <form method="POST" class="register-form" id="login-form" #lfrm='ngForm' ><!--(submit)="login(lfrm.value)"-->
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input ngModel type="email" name="email" id="Email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input ngModel type="password" name="password" id="password" placeholder="Password"/>
                            </div>
                            <!-- <div class="form-group">
                                <input ngModel type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label  for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div> -->
                            <div class="form-group form-button">
                               <!-- <button ngModel type="submit" name="signin" id="signin" class="form-submit" >Log in</button> -->
								<input  type="submit" name="login" id="login" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <!-- <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div> -->
                    <span style="margin-top: 15px;" class="signup-image-link" (click)='linkRegister()'>Create an account</span>

                    </div>

					<!-- <div class="signin-image">
                        <figure><img src="" alt="sing up image"></figure>
                    </div> -->
                </div>
            </div>
        </section>

        <!-- Sign up form -->
        <section class="signup" [hidden]=evt2>
            <div class="container">
                <div class="signup-content" >
                    <div class="signup-form" >
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form" [formGroup]="form" #rfrm='ngForm' (ngSubmit)="onSubmit()"><!--(submit)="register(rfrm.value)"-->
                            <div class="form-group">
                                <label for="fname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input  formControlName="fname"  [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" type="text" name="first_name" id="fname" placeholder="Your First Name"/>
                                <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                                    <div *ngIf="f.fname.errors?.required">Fullname is required</div>
                                  </div>
                            </div>
                            <div class="form-group">
                                <label for="lname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input   formControlName="lname" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" type="text" name="last_name" id="lname" placeholder="Your Last Name"/>
                                <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                                    <div *ngIf="f.lname.errors.required">Username is required</div>
                                    <div *ngIf="f.lname.errors.minlength">
                                      Username must be at least 6 characters
                                    </div>
                                    <div *ngIf="f.lname.errors.maxlength">
                                      Username must not exceed 20 characters
                                    </div>
                                  </div>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  type="email" name="email" id="email" placeholder="Your Email"/>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email is invalid</div>
                                  </div>
                            </div>
                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-email"></i></label>
                                <input formControlName="phone"  ng2TelInput (countryChange)="onCountryChange($event)" #phone id="code" type="tel" name="phone" placeholder="Your Phone Number" />
                            </div>
                            <!-- <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-email"></i></label>
                                <input ngModel id="phone" type="tel" name="phone" placeholder="Your Phone Number" />
                            </div> -->
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input   formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  type="password" name="password" id="pass" placeholder="Password"/>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">
                                      Password must be at least 6 characters
                                    </div>
                                    <div *ngIf="f.password.errors.maxlength">
                                      Username must not exceed 40 characters
                                    </div>
                                  </div>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input formControlName="confirmPassword"  [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" type="password"  name="confirmPassword" id="re_pass" placeholder="Repeat your password"/>
                                <div
                                *ngIf="submitted && f.confirmPassword.errors"
                                class="invalid-feedback"
                              >
                                <div *ngIf="f.confirmPassword.errors.required">
                                  Confirm Password is required
                                </div>
                                <div *ngIf="f.confirmPassword.errors.matching">
                                  Confirm Password does not match
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="address1"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input  type="textarea" name="address" id="address1" placeholder="Address 1"/>
                            </div>
                            
                            <!-- <div class="form-group">
                                <input ngModel type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div> -->
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                                <button
                                type="button"
                                (click)="onReset()"
                                class="btn btn-warning float-right"
                              >
                                Reset
                              </button>
                            </div>
                        </form>
						<div style="margin-top: 15px;">
						<span (click)='linkLogin()'  class="signup-image-link" >Already member! Please Login</span>

					</div>
                    </div>

                    <!-- <div class="signup-image"> -->
                        <!-- <a  class="signup-image-link" (click)="linkLogin()">I am already member</a> -->
						<!-- <p class="form-text"><a (click)="linkRegister()" class="form__link" id="linkRegister">Don't have an account? Create Account </a></p> -->

                    <!-- </div> -->
                </div>
            </div>
        </section>

      
        
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="assets/js/jquery-3.3.1.min.js"></script> -->
    <!-- <script>
        
    </script> -->
  </body>