
:root{
    --green:#961164;
    --black:#192a56;
    --light-color:#666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family:'Nunito',sans-serif;
    margin: 0; padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none; outline: none;
   text-transform: capitalize;
   transition: all .2s linear;
}

/* html{
 font-size: 62.5%;
 overflow-x: hidden;
 scroll-padding-top: 5.5rem;
 scroll-behavior: smooth;   
} */


header{
 position:fixed;
 top:0; left:0; right:0;
 /* background:#fff; */
 background: linear-gradient(to right, #961164, #ee2b73);
 padding: 1rem 7%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 z-index: 1000;
 box-shadow:  0 .5rem 1.5rem rgba(0,0,0,.1);
}

section {
    padding:2rem 9%;
    
}

section:nth-child(even){
    background: #eee;
}

.sub-heading{
    text-align: center;
    color:#961164;
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.btn{
     margin-top: 1rem;
     display: inline-block;
     font-size: 1.7rem;
     color: #fff;
     background:var(--black);
     border-radius: .5rem;
     cursor: pointer;
     padding:.8rem 3rem;
}

.btn:hover{
    background:#961164;
    letter-spacing: .1rem;
}

header .logo {
    color: var(--black);
    font-size:2.5rem;
    font-weight:bolder;
}

header .logo i{
    color: #961164;    
}

header .logo img{
    color: #961164; 
    height: 60px;   
    width: 60px;
    background: #fff;
}

header .navbar a{
        font-size: 1.7rem;
        border-radius: .5rem;
        padding: 0.5rem 1.5rem;
        color: #fff;
}

header .navbar a.active,
header .navbar a:hover{
        color:#fff;
        background: #961164;
}

header .icons i,
header .icons a{
    cursor: pointer;
    font-weight: 500px;
    margin-left: .5rem;
    height: 4rem;
    line-height:4rem ;
    width: 4rem;
    text-align: center;
    font-size: 1.3rem;
    color: var(--black);
    border-radius: 50%;
    background:#eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background:#961164;
    transform:rotate(360deg);
}

header .icons #menu-bars{
    display:none;
}

header .icons #user-icon{
    display:none;
}

#search-form{
    top:-110%; left:0;
    position:fixed;
    height:100%; width:100%; 
    z-index:1004;
    background:rgba(0, 0, 0, 0.8);
    display:flex; 
    align-items:center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box {
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding :1rem 0;
    color:#fff;
    font-size:3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
  -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size:2rem;
}

#search-form label:hover{
    color:#961164;
}

#search-form #close{
    position:absolute;
    font-size:3rem;
    cursor:pointer;
    color:#fff;
    top:2rem; right:3rem;
}


.home .home-slider .slide{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:2rem;
    padding-top:9rem;
}

.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image{
    flex:1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}


.home .home-slider .slide .content span{
    color: #961164;
    font-size:2.5rem;
}

.home .home-slider .slide .content h3{
    color: var(--black);
    font-size:7rem;
}

.home .home-slider .slide .content p{
    color: var(--light-color);
    font-size:2.2rem;
    padding: .5rem 0;
    line-height: 1.5 ;
}

.swiper-pagination-bullet-active{
    background:#961164;
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
    gap:1.5rem;
}

.dishes .box-container .box{
    padding:2.5rem;
    background: #fff;
    border-radius: .5rem;
    border:.1rm solid rgba(0, 0,0, .2);
    box-shadow: var(--box-shadow);
    position:relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover
{
   background: #961164;
   color: #fff;   
}
.dishes .box-container .box .fa-heart{
    right: -15rem;
}

.dishes .box-container .box .fa-eye{
    left: -15rem;
}

.dishes .box-container .box:hover .fa-heart{
    right: 1.5rem;
}

.dishes .box-container .box:hover .fa-eye{
    left: 1.5rem;
}

.dishes .box-container .box img{
    height: 17rem;
    margin:1rem 0;
}

.dishes .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}

.dishes .box-container .box .stars{
    padding: 1rem 0;
}

.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color: #961164;
}

.dishes .box-container .box span{
    color: #961164;
    margin-right: 1rem;
    font-weight: bolder;
    font-size: 2.5rem;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.about .row .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background: #eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex:1 1 17rem;
    padding: 1.5rem 1rem;
}


.about .row .content .icons-container .icons i{
        font-size: 2.5rem;
        color: #961164;
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--black);
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top: 2.5rem; right:2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #eee;
    border-radius: 50%;
    color: var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    background-color: #961164;
    color: #fff;
}

.menu .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: #961164;
}

.menu .box-container .box .content h3{
    color: var(--black);
    font-size: 2.5rem;
}

.menu .box-container .box .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: .5rem 0;
    line-height: 1.5;
}
























.footer .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5em;
}

.footer .box-container .box h3{
    padding: .5rem 0;
    font-size:2.5rem;
    color: var(--black);
}

.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size:1.5rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover{
    color: #961164;
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    color:var(--black);
    padding: .5rem;
    margin-top: 1.5rem;
    padding-top:  1.5rem;
}

.footer .credit span{
    color: #961164;
}






/* meadia quries */
@media (max-width:991px) {
    /* html{
        font-size: 55%;
    } */

    header{
     padding:1rem 2rem;   
    }

    section{
        padding:2rem;   
       }
}

@media (max-width:768px){
         
    header .icons #menu-bars{
        display:inline-block;
    }

    header .icons #user-icon{
        display:inline-block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        clip-path:polygon(0 0,100% 0,100% 0,0 0);
    }

    header .navbar.active {
        clip-path:polygon(0 0,100% 0,100% 100%,0 100%);
    }

    header .navbar a{
        display:block;
        padding: 0.2rem 1rem;
        width: 100%;
        /* padding: 1.5em; */
        margin: 1rem;
       /* font-size: 2rem; */
       font-size: 2rem;
       border-radius: .5rem;
       color: #eee;
       background: linear-gradient(to right, #961164, #ee2b73);
    }

   

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
    
        font-size:5rem;
    }
    

}

@media (max-width:991px) {
    /* html{
        font-size: 50%;
    } */

    header{
        position:fixed;
        top:0; left:0; right:0;
        /* background:#fff; */
        /* background: linear-gradient(to right, #961164, #ee2b73); */
        padding: 1rem 7%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
       }
    
       header .logo {
        color: var(--black);
        font-size:2.5rem;
        font-weight:bolder;
    }
    
    header .logo i{
        color: #961164;    
    }
    
    header .logo img{
        color: #961164; 
        height: 50px;   
        width: 50px;
        background: #fff;
    }
    
    header .navbar a{
            font-size: 1.2rem;
            border-radius: .5rem;
            padding: 0.2rem 1rem;
            color: #fff;
    }
    
    header .navbar a.active,
    header .navbar a:hover{
            color:#fff;
            background: #961164;
    }
    
    header .icons i,
    header .icons a{
        cursor: pointer;
        margin-left: .5rem;
        height: 2.8rem;
        line-height:2.8rem ;
        width: 2.8rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--black);
        border-radius: 50%;
        background:#eee;
    }
    
    header .icons i:hover,
    header .icons a:hover{
        color: #fff;
        background:#961164;
        transform:rotate(360deg);
    }
    
    #search-form label{
        color:#fff;
        cursor:pointer;
        font-size:1rem;
    }

    #search-form #close{
        position:absolute;
        font-size:2.5rem;
        cursor:pointer;
        color:#fff;
        top:2rem; right:3rem;
    }

    #search-form #search-box {
        width:30rem;
        border-bottom: .1rem solid #fff;
        padding :1rem 0;
        color:#fff;
        font-size:1.5rem;
        text-transform: none;
        background: none;
    }

    #search-form{
        top:-110%; left:0;
        position:fixed;
        height:100%; width:100%; 
        z-index:1004;
        background:rgba(0, 0, 0, 0.8);
        display:flex; 
        align-items:center;
        justify-content: center;
        padding: 0 1rem;
    }


   .dishes .box-container .box{
       height: auto;
       width: 100%;
   }
}


@media (max-width:768px) {
    /* html{
        font-size: 50%;
    } */

   header{
    position:fixed;
    top:0; left:0; right:0;
    /* background:#fff; */
    /* background: linear-gradient(to right, #961164, #ee2b73); */
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow:  0 .5rem 1.5rem rgba(0,0,0,.1);
   }

   header .logo {
    color: var(--black);
    font-size:2.5rem;
    font-weight:bolder;
}

header .logo i{
    color: #961164;    
}

header .logo img{
    color: #961164; 
    height: 50px;   
    width: 50px;
    background: #fff;
}

/* header .navbar a{ */
    /* background-color: #ee2b73; */
    /* display: block; */
        /* font-size: 1rem;
        border-radius: .5rem;
        padding: 0.2rem 1rem;
        color: #fff;
} */

/* header .navbar a.active,
header .navbar a:hover{
        color:#fff;
        background: #961164;
} */

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 2.5rem;
    line-height:2.5rem ;
    width: 2.5rem;
    text-align: center;
    font-size: 1rem;
    color: var(--black);
    border-radius: 50%;
    background:#eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background:#961164;
    transform:rotate(360deg);
}

/* header .icons #menu-bars{
    display:none;
} */

#search-form{
    top:-110%; left:0;
    position:fixed;
    height:100%; width:100%; 
    z-index:1004;
    background:rgba(0, 0, 0, 0.8);
    display:flex; 
    align-items:center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box {
    width:30rem;
    border-bottom: .1rem solid #fff;
    padding :1rem 0;
    color:#fff;
    font-size:1.5rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
  -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size:1rem;
}

#search-form label:hover{
    color:#961164;
}

#search-form #close{
    position:absolute;
    font-size:2.5rem;
    cursor:pointer;
    color:#fff;
    top:2rem; right:3rem;
}


}