<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<header>
    <a  class="logo"><img src="assets/images/logo/logo.svg" alt=""></a>
    <nav class="navbar">
        <a  routerLink="/index">Home</a>
        <a href="#about">About</a>
        <a href="#category">Category</a>
        <a  routerLink="/user">Login</a>
       

    </nav>
 

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-user" id="user-icon"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <!-- <a href="#" class="fas fa-heart"></a> -->
        <a href="#" class="fas fa-shopping-cart"></a>

    </div>

</header>

    <!-- search form -->
    <form id="search-form">
      <input type="search" placeholder="Search here...." class="form-control" name="" id="search-box">
      <label for="search-box" class="fas fa-search"></label>
      <i class="fa fa-times" id="close"></i>
  </form>
