<div class="site-section">
    <div class="container">
      <h1 class="text text-info">{{cateData.category}}</h1>
 
      <div class="row mb-5">
        <!-- <div class="col-md-9 order-2">
          <div class="row mb-5"> -->

            <div class="col-sm-6 col-md-6 col-lg-4 mb-4" data-aos="fade-up" (click)="linkProd(cate)" *ngFor="let cate of cData">
              <div class="block-4 text-center border" >
                <figure class="block-4-image">
                  <a><img src="http://65.21.159.32/media/{{cate.image[0]}}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">{{cate.brand}}</a></h3>
                  <p class="mb-0">{{cate.name}}</p>
                  <p class="text-primary font-weight-bold">&dollar;{{cate.price}}</p>
                </div>
              </div>
            </div>
          <!-- </div> -->
          
        <!-- </div> -->

       
      </div> 

   
      
    </div>
  </div>