
	<br><br><br><br><br>
    <!-- Start Team Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                <div class="mu-team-content">
                    <div class="row">
                        <!-- start single item -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let buyer of buyers" >
                            <div class="mu-single-team row">
                                <div class="mu-single-team-img col-md-4 col-sm-5 col-xs-6" >
                                    <img class="img-responsive" src="http://65.21.159.32/media/">
                                </div>
                                <div class="mu-single-team-content col-md-8 col-sm-7 col-xs-6">
                                    <h3>{{buyer.first_name}} {{buyer.last_name}}</h3>
                                    <span>{{buyer.country_code}}</span><br>
                                 <button class="btn button" >Open COA</button>
                                </div>
                            </div>
                        </div>
                        <!-- End single item -->
                       
                    </div>
                </div>
            </div>
            </div>
            
        </div>




	