#mu-team {
	display: inline;
	float: left;
	width: 100%;
}

.mu-team-area {
	display: inline;
	float: left;
	padding: 100px 0 90px;
	width: 100%;

}
 
.mu-team-content {
	display: inline;
	float: left;
	width: 100%;
    
}

.mu-single-team {
	
	/* background-color: #fff; */
	display: inline;
	float: left;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
    border-radius: 20px;
    /* box-shadow: 5px 10px rgb(104, 104, 104); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mu-single-team:hover {
	
	/* background-color: #fff; */
	/* display: inline;
	float: left; */
	width: 105%;
	margin-top: 13px;
	margin-bottom: 13px;
    /* border-radius: 20px; */
    /* box-shadow: 5px 10px rgb(104, 104, 104); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.623), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
}
/* .mu-single-team:click {
	cursor: pointer;} */

    
.mu-single-team-img {
	display: inline;
	float: left;
	/* width: 25%; */
	
	/* overflow: hidden; */
	/* width: auto; */
}

.mu-single-team-img img {
	/* height:170px; */
	/* width: 140px; */
	/* width: 100px;
	height: 100px; */
	object-fit: contain;
	height: auto;
     width: auto;
	 /* overflow: hidden; */
}

@media screen and (max-width) {
	.mu-single-team-img img {
		/* height:170px; */
		/* width: 140px; */
		width: 80px;
		height: 80px;
		object-fit: contain;
	
		/* height: auto;
		 width: auto; */
		 /* overflow: hidden; */
	}
}


.mu-single-team-content {
	display: inline;
	float: left;
	
	width: 75%;
	padding: 15px 33px;
	
}

.mu-single-team-content h3 {
	font-size: 18px;
	color: #323232;
	margin-bottom: 0;
}

.mu-single-team-content span {
	display: inline-block;
	font-size: 16px;
	color: #0091ea;
	margin-bottom: 5px;
}

.mu-single-team-content p {
	font-size: 14px;
	margin-bottom: 12px;
}

.button{
	border-radius: 8px;
	background-color: #961164;
	color: #eee;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: 0.2s all ease-in-out !important;
	-o-transition: 0.2s all ease-in-out !important;
	transition: 0.2s all ease-in-out !important;
	top: 0;
	font-size: 10px;
	padding: 10px;
	font-weight: 400px;
}



