<!-- <body> -->
<br><br><br><br><br><br><br>
<section class="site-wrap">


  <!--login page starts -->

  <!-- </div> -->
  <!-- </div> -->
  <!--login page ends-->




  <!--categorires-->
  <!-- <nav class="site-navigation text-right text-md-center" role="navigation"> -->
  <div class="cate">
    <!-- <ul class="site-menu js-clone-nav d-none d-md-block ">
            <li class="has-children active"> -->
    <!-- <div class="" > -->
    <div class="line" routerLink='/category' (click)="linkCategory(cate)" *ngFor='let cate of cateList.results'>
      <div class="square">
        <img class="categoryImg" src="{{cate.category_image}}">

      </div>
      <div style="text-align: center; ">
        <p style="font-weight: 600;">{{cate.category}}</p>
      </div>
    </div>

  </div>
  <!-- </nav> -->

  <!--categories ends-->


  <div class="site-blocks-cover" data-aos="fade"
    style="background-image: url(assets/images/f100Banner.jpg); overflow:hidden;">
    <div class="container">
      <!-- <div class="row " > -->
      <!-- <div class="row align-items-start align-items-md-center justify-content-bottom"> -->
      <!-- <div class="col-md-5 text-center text-md-left pt-5 pt-md-0"> -->
      <!-- <h1 class="mb-2">Finding Your Perfect Shoes</h1> -->
      <!-- <div class="intro-text text-center text-md-right">
             <p> <a href="#" class="btn btn-sm btn-primary">F100 repository</a>
                </p>
              </div> -->
      <!-- <div class="col-md-6 col-sm-6 col-xs-6 justify-content-center" >
          <button class="btn " style="margin-top:25rem;margin-left: 15rem;background: rgb(17, 17, 223);">Join Now</button>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 justify-content-center">
          <button class="btn" style="margin-top:25rem;margin-left: 5rem;background: #961164;">F100 repository</button>
        </div>
      </div> -->
      <!-- </div> -->
      <div class="center1">
        <button class="btn " routerLink="/login" style="padding-right: 35px; padding-left: 35px;
        font-size: 15px; background-color: rgb(0, 0, 212);
        color: #eee;	box-shadow: 2px 2px 3px rgb(39, 37, 37);">Join Now</button>
      </div>
      <div class="center2">
        <button class="btn btn-primary"   (click)='coa()' style="font-size: 15px;	box-shadow: 2px 2px 3px rgb(39, 37, 37);
        ">f100 repository</button>
      </div>

    </div>
  </div>

  <!-- <div class="site-section site-section-sm site-blocks-1">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
              <div class="icon mr-4 align-self-start">
                <span class="icon-truck"></span>
              </div>
              <div class="text">
                <h2 class="text-uppercase">Free Shipping</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
              <div class="icon mr-4 align-self-start">
                <span class="icon-refresh2"></span>
              </div>
              <div class="text">
                <h2 class="text-uppercase">Free Returns</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
              <div class="icon mr-4 align-self-start">
                <span class="icon-help"></span>
              </div>
              <div class="text">
                <h2 class="text-uppercase">Customer Support</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  <!--products list  starts-->
  <div class="site-section">
    <!-- <div class="container" > -->

    <!-- <div class="row mb-5" style="background-color: indianred;padding: 8px;"> -->
    <!-- <div class="col-md-9 order-2" style="background-color: hotpink;"> -->

    <!-- <div class="row"> -->
    <!-- <div class="row justify-content-center" style="background-color: hotpink;"> -->
    <div class="col-md-12 site-section-heading text-center pt-4">
      <h2>Products</h2>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <div class="row mb-5 " style="padding: 18px;">

      <div class="col-sm-6 col-lg-4 mb-4" #product (click)="linkProdDesc(prod)" data-aos="fade-up"
        *ngFor="let prod of prodList">
        <div class="block-4 text-center border">
          <figure class="block-4-image">
            <img src="http://65.21.159.32/media/{{prod.image[0]}}" alt="Image placeholder" class="img-fluid">
          </figure>
          <div class="block-4-text p-4">
            <a routerLink="/productDesc">
              <h3>{{prod.name}}</h3>
            </a>
            <p class="mb-0">{{prod.description}}</p>
            <p class="text-primary font-weight-bold">Deal Price: &dollar;{{prod.price}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- </div> -->


    <!-- </div> -->

    <!-- </div> -->
  </div>
  <!--products list ends-->
  <div class="site-section site-blocks-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
          <a class="block-2-item" href="#">
            <figure class="image">
              <img src="assets/images/laptop3.jpg" alt="" class="img-fluid">
            </figure>
            <div class="text">
              <span class="text-uppercase">Collections</span>
              <h3>Gaming Laptops</h3>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <a class="block-2-item" href="#">
            <figure class="image">
              <img src="assets/images/Tv2.jpg" alt="" class="img-fluid">
            </figure>
            <div class="text">
              <span class="text-uppercase">Collections</span>
              <h3>Smart Tv</h3>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
          <a class="block-2-item" href="#">
            <figure class="image">
              <img src="assets/images/mobileImg4.jpeg" alt="" class="img-fluid">
            </figure>
            <div class="text">
              <span class="text-uppercase">Collections</span>
              <h3>Mobiles</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section block-3 site-blocks-2 bg-light">
    <div class="containersdf">
      <div class="row justify-content-center">
        <div class="col-md-12 site-section-heading text-center pt-4">
          <h2>Featured Products</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="nonloop-block-3 owl-carousel">
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="#">Smart tv</a></h3>
                  <p class="mb-0">Finding perfect t-shirt</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="assets/images/mobileImg2.jpeg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="#">Mobiles</a></h3>
                  <p class="mb-0">Finding perfect products</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="assets/images/laptop3.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="#">Laptops</a></h3>
                  <p class="mb-0">Finding perfect products</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="assets/images/Tv3.jpeg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="#">Applinces</a></h3>
                  <p class="mb-0">Finding perfect products</p>
                  <p class=" font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="assets/images/mobileImg1.jpeg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="#">Smart Watches</a></h3>
                  <p class="mb-0">Finding perfect products</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="site-section block-8">
        <div class="container">
          <div class="row justify-content-center  mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
              <h2>Big Sale!</h2>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-12 col-lg-7 mb-5">
              <a href="#"><img src="images/laptop3.jpg" alt="Image placeholder" class="img-fluid rounded"></a>
            </div>
            <div class="col-md-12 col-lg-5 text-center pl-md-5">
              <h2><a href="#">50% less in all items</a></h2>
              <p class="post-meta mb-4">By <a href="#">Carl Smith</a> <span class="block-8-sep">&bullet;</span> September 3, 2018</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis ipsum animi deleniti fugiat. Ex, veniam?</p>
              <p><a href="#" class="btn btn-primary btn-sm">Shop Now</a></p>
            </div>
          </div>
        </div>
      </div> -->


</section>


<!-- </body> -->