/* .container { 
	height: 200px;
	position: relative;
	border: 3px solid green; 
  } */
  
  .center1 {
	margin: 15px;
	position: absolute;
	top: 80%;
	left: 30%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }

  .center2 {
	margin: 15px;
	position: absolute;
	top: 80%;
	left:65%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }

  @media (max-width: 480px) {
	
	.center1 {
		margin: 15px;
		position: absolute;
		top: 80%;
		left: 20%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	  }
	
	  .center2 {
		margin: 15px;
		position: absolute;
		top: 80%;
		left:70%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	  }

  }