
<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="http://65.21.159.32/media/{{prod.image[0]}}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2 class="text-black">{{prod.name}}</h2>
          <p class="mb-4 mt-2 h5" >Brand : {{prod.brand}}</p>
          <p class="h4">Desription:
          <br> <span class="h5">{{prod.description}}</span>
          </p>
           <p class="h4">M.R.P.: <s class="text-primary h4">{{prod.mrp}}</s></p>
          <p class="h4"> Deal Price:<strong class="text-primary h4"> &dollar;{{prod.price}}</strong></p>
          <p class="h4">You Save: {{(prod.mrp-prod.price)}} ({{discount}}%)</p>
          <!-- <div class="mb-1 d-flex">
            <label for="option-sm" class="d-flex mr-3 mb-3">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="shop-sizes"></span> <span class="d-inline-block text-black">Small</span>
            </label>
            <label for="option-md" class="d-flex mr-3 mb-3">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">Medium</span>
            </label>
            <label for="option-lg" class="d-flex mr-3 mb-3">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg" name="shop-sizes"></span> <span class="d-inline-block text-black">Large</span>
            </label>
            <label for="option-xl" class="d-flex mr-3 mb-3">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl" name="shop-sizes"></span> <span class="d-inline-block text-black"> Extra Large</span>
            </label>
          </div> -->
          <!-- <div class="mb-5">
            <div class="input-group mb-3" style="max-width: 120px;">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
            </div>
            <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="input-group-append">
              <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
            </div>
          </div>

          </div> -->
          <p ><a href="{{prod.affiliated_url}}" class="buy-now btn btn-sm btn-primary">Buy Product</a></p>

        </div>
      </div>
    </div>
  </div>
  