<br><br><br><br>

        <main class="page-content">
            <div class="card" *ngFor='let list of f100' style=" 
            background-image: url(http://65.21.159.32/media/{{list.image[0]}})
              ">
              <div class="content">
                <h2 class="title">{{list.brand}}</h2>
                <p class="copy">{{list.name}}</p>
                <button class="btn" style="background-color: rgb(0, 0, 212)" (click)="linkProdDesc(list)">View Product</button>
                <button class="btn" (click)="product_view(list)">Hunters Repository</button>
                
             
            </div>
            </div>
          </main>