#mu-team {
	display: inline;
	float: left;
	width: 100%;
}

.mu-team-area {
	display: inline;
	float: left;
	padding: 100px 0 90px;
	width: 100%;

}
 
.mu-team-content {
	display: inline;
	float: left;
	width: 100%;
    
}

.mu-single-team {
	
	/* background-color: #fff; */
	display: inline;
	float: left;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
    border-radius: 20px;
    /* box-shadow: 5px 10px rgb(104, 104, 104); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mu-single-team:hover {
	
	/* background-color: #fff; */
	/* display: inline;
	float: left; */
	width: 105%;
	margin-top: 13px;
	margin-bottom: 13px;
    /* border-radius: 20px; */
    /* box-shadow: 5px 10px rgb(104, 104, 104); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.623), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
}
/* .mu-single-team:click {
	cursor: pointer;} */

    
.mu-single-team-img {
	display: inline;
	float: left;
	/* width: 25%; */
	
	/* overflow: hidden; */
	/* width: auto; */
}

.mu-single-team-img  {
	/* height:170px; */
	/* width: 140px; */
	width: 100px;
	height: 100px;
	object-fit: contain;
	/* height: auto;
     width: auto; */
	 /* overflow: hidden; */
}

@media screen and (max-width) {
	.mu-single-team-img {
		/* height:170px; */
		/* width: 140px; */
		width: 80px;
		height: 80px;
		object-fit: contain;
	
		/* height: auto;
		 width: auto; */
		 /* overflow: hidden; */
	}
}


.mu-single-team-content {
	display: inline;
	float: left;
	
	width: 75%;
	padding: 15px 33px;
	
}

.mu-single-team-content h3 {
	font-size: 18px;
	color: #323232;
	margin-bottom: 0;
}

.mu-single-team-content span {
	display: inline-block;
	font-size: 16px;
	color: #0091ea;
	margin-bottom: 5px;
}

.mu-single-team-content p {
	font-size: 14px;
	margin-bottom: 12px;
}

.button{
	/* border-radius: 8px; */
	background-color: #961164;
	color: #eee;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: 0.2s all ease-in-out !important;
	-o-transition: 0.2s all ease-in-out !important;
	transition: 0.2s all ease-in-out !important;
	top: 0;
	font-size: 15px;
	padding: 10px;
	font-weight: 400px !important;
}



.categoryImg {
    /* max-width: 100%;
    max-height: 100%; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    /* border-radius: 50%; */
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {

  /* background-color: #961164; */
    height: 80px;
    width: 80px;
 text-align: center;
}

.cate{
  /* position: absolute;
  width: 80%; height: 300px;
  left: 20%; top: 50%; */
  /* margin-top: 4rem; */
  transform: translateY(-50%);
  box-sizing: border-box;
  /* padding: 30px; */
  overflow-x: scroll;
  background: #f5f5f5;
  white-space: nowrap;
 align-items:inherit;
  display: flex;
  /* justify-content: center; */
  /* margin: 30px; */
  /* background-color: #ffffff; */
  /* border: 1px solid black;
  opacity: 0.6; */
}

.line{
  /* float: left; */
  margin: 6px;
  /* background-color: #ff3b73; */
  color:#961164;
  /* width: 200px; height: 100%; */
  /* margin-right: 30px; */
  /* padding: 20px; */
  box-sizing: border-box;
  /* background: #f593f7; */
  display:inline-block;
  align-items: center;
  /* margin: 5%; */
  /* font-weight: bold; */
  /* color: #000000; */
}











@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
/* .card:nth-child(1):before {
  background-image: url(http://65.21.159.32/media/{{list.image[0]}});
}
.card:nth-child(2):before {
  background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(3):before {
  background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(4):before {
  background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
} */

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #961164;
  border: none;
}
.btn:hover {
  background-color: #961140;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}